@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

body {
  font-family: "Fira Sans";
  background-color: #1e1e1e;
  font-size: 12pt;
  color: #ffffff;
}

h1 {
    border: solid 2px #e63246;
    padding: 10px;
    border-radius: 16px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content {
    text-align: left;
    border: solid 2px #4b6eb9;
    border-radius: 6px;
    padding: 6px;
}

.days {
  text-align: center;
  border: solid 2px #e63246;
  border-radius: 8px;
  padding: 5px;
}

.container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

a {
  text-decoration: none;
  color: white;
  outline: none;
}

.cb {
  text-align: center;
  background-color: #e63246;
  border: solid 2px #e63246;
  border-radius: 10px;
  padding: 0px;
  width: fit-content;
}

.today {
  text-align: center;
  border: solid 2px #4b6eb9;
  border-radius: 8px;
  padding: 5px
}
