<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/style.css">
  <title>Рассписание</title>
</head>
<body>
  <h1>Расписание московского поликека<br>Группа {{ .Group }}</h1>
  <div class="container">
    <div class="days">Понедельник
      <br><br>
      {{ range .Mon }}
      <div class="content">
        {{index  . 0}}
        <a href="#" class = "cb">
          <span class = "cb">{{ index . 1 }}</span>
        </a><br><br>
        {{ index . 2 }}<br><br>
        {{ index . 3 }}<br><br>
        {{ index . 4 }}
        </div><br>
      {{ end }}
    </div>
    <div class="days">Вторник
      <br><br>
      {{ range .Tue }}
      <div class="content">
        {{index  . 0}}
        <a href="#" class = "cb">
          <span class = "cb">{{ index . 1 }}</span>
        </a><br><br>
        {{ index . 2 }}<br><br>
        {{ index . 3 }}<br><br>
        {{ index . 4 }}
        </div><br>
      {{ end }}</div>
    <div class="days">Среда
      <br><br>
      {{ range .Wed }}
      <div class="content">
        {{index  . 0}}
        <a href="#" class = "cb">
          <span class = "cb">{{ index . 1 }}</span>
        </a><br><br>
        {{ index . 2 }}<br><br>
        {{ index . 3 }}<br><br>
        {{ index . 4 }}
        </div><br>
      {{ end }}</div>
    <div class="days">Четверг
      <br><br>
      {{ range .Thu }}
      <div class="content">
        {{index  . 0}}
        <a href="#" class = "cb">
          <span class = "cb">{{ index . 1 }}</span>
        </a><br><br>
        {{ index . 2 }}<br><br>
        {{ index . 3 }}<br><br>
        {{ index . 4 }}
        </div><br>
      {{ end }}</div>
    <div class="days">Пятница
      <br><br>
      {{ range .Fri }}
      <div class="content">
        {{index  . 0}}
        <a href="#" class = "cb">
          <span class = "cb">{{ index . 1 }}</span>
        </a><br><br>
        {{ index . 2 }}<br><br>
        {{ index . 3 }}<br><br>
        {{ index . 4 }}
        </div><br>
      {{ end }}</div>
    <div class="days">Суббота
      <br><br>
      {{ range .Sat }}
      <div class="content">
        {{index  . 0}}
        <a href="#" class = "cb">
          <span class = "cb">{{ index . 1 }}</span>
        </a><br><br>
        {{ index . 2 }}<br><br>
        {{ index . 3 }}<br><br>
        {{ index . 4 }}
        </div><br>
      {{ end }}</div>
  </div>
</body>
</html>
